apiVersion: v1
kind: Service
metadata:
  name: mysql-svc
  namespace: team-alpha
spec:
  selector:
    app: webapp-sql
    tier: backend
  ports:
  - protocol: "TCP"
    port: 3306
    targetPort: 3306
  clusterIP: None